.header {
  .item-wrapper {
    background: #CCE5FF;
    border: 1px solid #b1cdef;
    padding: 12px 16px;
    border-radius: 4px;
    margin-bottom: 32px;
    p {
      color: #004085;
      font-size: 18px;
    }
  }
  .warning-wrapper {
    background: #FEF3CD;
    border: 1px solid #ffeeba;
    padding: 12px 16px;
    border-radius: 4px;
    margin-bottom: 32px;
    p {
      color: #856404;
      font-size: 18px;
    }
  }
}


.game-container {
  .wrap-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
}